.li_row{
    .tabel_img{
        width: 10%!important;
    }
    .li_text{
        width: 20%;
        align-self: center;
        text-align: center;
        margin-bottom: 1rem;
        margin-right: 4rem;
    }
}